#if($isPop)
    #parse("blank_startpart.vm")
#else
    #parse("default_startpart.vm")
#end
<div class="row-fluid">
#set($form = $dForm)
#parse("$dForm.vmpath")
</div>

#if($isPop)
    #parse("blank_endpart.vm")
#else
    #parse("default_endpart.vm")
#end
