#set($widthStype='')
#set($showType1=$column.ShowType)

#if($column.ShowType.Width!=0)
		#set($widthStype="width:$column.ShowType.Width;")
#end
#if($column.ShowType.Height!=0)
		#set($heightStype="height:$column.ShowType.Height;")
#else
	#set($heightStype="")	
#end

#if(!$null.isNull($showType1))
	$!column.ShowType.PreStr
#end
##只有一个类型的时候
#if($column.editType=='input')
	#parse("component/element/_input.vm")
#elseif($column.editType=='select')
	#parse("component/element/_select.vm")
#elseif($column.editType=='mutiselect')
	#parse("component/element/_multiple-select.vm")
#elseif($column.editType=='datetime')
		#parse("component/element/_datetime.vm")
#elseif($column.editType=='tipinput')
		#parse("component/element/tipinput_FORGRID.vm")
#elseif($column.editType=='checkbox')
	#parse("component/element/_checkbox.vm")
#elseif($column.editType=='radio')
	#parse("component/element/_radio.vm")
#elseif($column.editType=='openwin')
	#parse("component/element/_openwin.vm")
#else
	UNKOWN
#end
#if(!$null.isNull($showType1))
$!column.ShowType.AfterStr
#end