#set($list = $jsonObject.data.list)
#set($role = $jsonObject.data.role)
#foreach($inter in $list)
<div class="row-fluid" id="$!inter.url">
    <div class="box span12 hflist" id="" module="" page="" param="" component="">
        <div class="box-header">
            <h2><i class="icon-tags"></i><span class="break"></span>$!inter.name</h2>
            <div class="box-icon">
                <a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
            </div>
        </div>
        <div class="box-content">
            <div class="row-fluid" style="padding-bottom:10px">

                <h3><i class="icon-hand-right"></i>&nbsp;概述</h3>
                <table class="table table-bordered table-striped table-condensed" style="margin-left:10px;width:50%;">
                    <tbody class="hflist-data">
                    <tr>
                        <th> <span>接口</span> </th>
                        <td> <span>$!inter.name</span> </td>
                    </tr>
                    <tr>
                        <th> <span>URL</span> </th>
                        <td> <span>$!inter.url</span></td>
                    </tr>
                    <tr>
                        <th> <span>版本</span> </th>
                        <td> <span>$!inter.version</span></td>
                    </tr>
                    <tr>
                        <th> <span>说明</span> </th>
                        <td> <span>$!inter.description</span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <h3><i class="icon-hand-right"></i>&nbsp;请求参数</h3>
            <table class="table table-bordered table-striped table-condensed"  style="margin-left:10px;width:90%;">
                <thead>
                <tr>
                    <th width="15%" code="name">字段名</th>
                    <th width="10%" code="code">参数名</th>
                    <th width="10%" code="type">参数类型</th>
                    <th width="10%" code="required">是否必传</th>
                    <th width="10%" code="defaultValue">默认值</th>
                    <th width="" code="description">描述</th>
                </tr>
                </thead>
                <tbody class="hflist-data">
                #foreach($paramInfo in $inter.parameterInfos)
                    <tr>
                        <td> <span code="name">$!paramInfo.name</span> </td>
                        <td> <span code="code">$!paramInfo.code</span> </td>
                        <td> <span code="type">$!paramInfo.type</span> </td>
                        <td> <span code="required">$!paramInfo.required</span> </td>
                        <td> <span code="defaultValue">$!paramInfo.defaultValue</span> </td>
                        <td> <span code="description">$!paramInfo.description</span> </td>
                    </tr>
                #end
                </tbody>
            </table>
            #if("$role" == "manager")
                <h3><i class="icon-hand-right"></i>&nbsp;配置参数</h3>
                <table class="table table-bordered table-striped table-condensed"  style="margin-left:10px;width:90%;">
                    <thead>
                    <tr>
                        <th width="15%" code="name">字段名</th>
                        <th width="10%" code="code">参数名</th>
                        <th width="10%" code="type">参数类型</th>
                        <th width="10%" code="defaultValue">默认值</th>
                        <th width="10%" code="curValue">当前值</th>
                        <th width="10%" code="testValue">未生效值</th>
                        <th width="" code="description">描述</th>
                    </tr>
                    </thead>
                    <tbody class="hflist-data">
                        #foreach($paramInfo in $inter.staticInfos)
                        <tr>
                            <td> <span code="name">$!paramInfo.name</span> </td>
                            <td> <span code="code">$!paramInfo.code</span> </td>
                            <td> <span code="type">$!paramInfo.type</span> </td>
                            <td> <span code="defaultValue">$!paramInfo.defaultValue</span> </td>
                            <td> <span code="defaultValue">$!paramInfo.curValue</span> </td>
                            <td> <span code="defaultValue">$!paramInfo.testValue</span> </td>
                            <td> <span code="description">$!paramInfo.description</span> </td>
                        </tr>
                        #end
                    </tbody>
                </table>
            #end

            <h3><i class="icon-hand-right"></i>&nbsp;响应参数</h3>
            <table class="table table-bordered table-striped table-condensed" style="margin-left:10px;width:90%;">
                <thead>
                <tr>
                    <th width="" code="userEntityName">字段名</th>
                    <th width="" code="dataEntityName">参数名</th>
                    <th width="" code="funcEntityName">参数类型</th>
                    <th width="" code="userAuthPath">是否必传</th>
                    <th width="" code="funcAuthPath">默认值</th>
                    <th width="" code="hfpmProgramId">描述</th>
                </tr>
                </thead>
                <tbody class="hflist-data">
##                <tr>
##                    <td> <span code="userEntityName">任务编码</span> </td>
##                    <td> <span code="dataEntityName">taskCode</span> </td>
##                    <td> <span code="funcEntityName">String</span> </td>
##                    <td> <span code="userAuthPath">是</span> </td>
##                    <td> <span code="funcAuthPath"></span> </td>
##                    <td> <span code="hfpmProgramId"></span> </td>
##                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

#end
