##第一部分：传入参数
#set($map=$MAP)
#set($classDef = $map.get("CLASS"))
##模板内容
package $classDef.classPackage;
import java.util.*;
import com.hframework.common.ssh.dao.IBaseDAO;
#foreach($importClass in $classDef.importClassList)
import $importClass;
#end
$!classDef.annotation
public class $classDef.className $!classDef.superClassStr $!classDef.implementsStr {
#foreach($field in $classDef.fieldList)
	private $field.type $field.name;
#end
#foreach($constructor in $classDef.constructorList)
    public ${classDef.className}($!constructor.parameterStr) {
    #foreach($codeLine in $constructor.codelnList)
    	 $codeLine
    #end
	}
 #end
 $!classDef.extMethodStr
 #foreach($field in $classDef.fieldList)
 	//getter
 	$!fieldgetMethodAnno
	public $field.type get${field.ucName}(){
		return $field.name;
	}
	//setter
	public void set${field.ucName}(${field.type} ${field.name}){
    	this.$field.name = $field.name;
    }
#end
}