#set($map=$MAP)
#set($tables = $map.get("Tables"))
#set($rootPath = $map.get("RootPath"))
#set($jdbc = $map.get("Jdbc"))
#set($javaModelPackage = $map.get("JavaModelPackage"))
#set($javaClientPackage = $map.get("JavaClientPackage"))
<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>
    <properties url="file:///D:/my_workspace/hframe-trunk/hframe-core/src/main/resources/properties/dataSource.properties"></properties>
    <!-- <classPathEntry location="E:\\Users\\zhangqh6\\.m2\\repository\\mysql\\mysql-connector-java\\5.1.21\\mysql-connector-java-5.1.21.jar"/> -->
    <context id="default" targetRuntime="MyBatis3">
        <!-- 自动识别数据库关键字，默认false，如果设置为true，根据SqlReservedWords中定义的关键字列表；
               一般保留默认值，遇到数据库关键字（Java关键字），使用columnOverride覆盖
            -->
        <property name="autoDelimitKeywords" value="true"/>
        <!-- beginningDelimiter和endingDelimiter：指明数据库的用于标记数据库对象名的符号，比如ORACLE就是双引号，MYSQL默认是`反引号； -->
        <property name="beginningDelimiter" value="`"/>
        <property name="endingDelimiter" value="`"/>

        <plugin type="org.mybatis.generator.plugins.RenameExampleClassPlugin">
            <property name="searchString" value="Example$" />
            <property name="replaceString" value="_Example" />
        </plugin>

        <plugin type="com.hframework.generator.web.mybatis.plugins.PaginationPlugin"></plugin>
        <plugin type="com.hframework.generator.web.mybatis.plugins.JointQueryPlugin"></plugin>
        <plugin type="com.hframework.generator.web.mybatis.plugins.MapperAnnotationPlugin"></plugin>
        <plugin type="com.hframework.generator.web.mybatis.plugins.NoParamConstructorPlugin"></plugin>
        <plugin type="com.hframework.generator.web.mybatis.plugins.MapperXmlOverwritePlugin"></plugin>


        <commentGenerator type="com.hframework.generator.web.mybatis.override.MybatisCommentGenerator">
            <property name="suppressAllComments" value="true" />
            <property name="suppressDate" value="false" />
        </commentGenerator>
        <jdbcConnection driverClass="$!{jdbc.driverClass}" connectionURL="${jdbc.url}" userId="${jdbc.user}" password="${jdbc.password}">
        </jdbcConnection>
        <javaTypeResolver >
            <property name="forceBigDecimals" value="false" />
        </javaTypeResolver>
        <!-- BO 对象实体 -->
        <javaModelGenerator targetPackage="$!{javaModelPackage}" targetProject="$rootPath/src/main/java">
            <property name="constructorBased" value="true"/>
            <property name="enableSubPackages" value="false"/>
            <property name="immutable" value="true"/>
            <!--<property name="rootClass" value="com.foo.louis.Hello"/> -->
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>

        <!-- mapper配置文件 -->
        <sqlMapGenerator targetPackage="mapper" targetProject="$rootPath/src/main/resources">
            <property name="enableSubPackages" value="false"/>
        </sqlMapGenerator>
        <!-- DAO 对象实体 -->
        <!-- ANNOTATEDMAPPER  MIXEDMAPPER   XMLMAPPER-->
        <javaClientGenerator targetPackage="$!{javaClientPackage}" targetProject="$rootPath/src/main/java" type="XMLMAPPER">
            <property name="enableInsert" value="true"/>
            <property name="enableSubPackages" value=""/>
            <property name="exampleMethodVisibility" value="false"/>
            <property name="methodNameCalculator" value=""/>
            <property name="rootInterface" value=""/>
        </javaClientGenerator>

 #foreach($table in $tables)
        <table schema="" tableName="$!table.get("tableName")" delimitIdentifiers="true">
            <property name="chineseName" value="$!table.get("tableDesc")"></property>
            <property name="parentId" value="$!table.get("parentId")"></property>
            <generatedKey column="$!table.get("generatedKey")" sqlStatement="MySql" identity="true" />


        </table>
#end




    </context>
</generatorConfiguration>