##<input type="text" class="form-control" id="$map.get("ViewObject").$column.javaVarName" placeholder="-请输入-"  name='$map.get("ViewObject").$column.javaVarName' style='$!widthStype$!heightStype'
###########################if($null.isNull($oldObjectValue.get(${column.Name})))这种方法无效，为什么呢
##	#if($oldObjectValue.get(${column.Name}))
##       value='$oldObjectValue.get(${column.Name})'
##	#end
##        />


## mini  small  medium large xlarge xxlarge
<input class="input-$!{elementSize} focused" id="$column.code"  name="$column.code" type="text" value="$!value" not-null="$!column.notNull">